In [98]:
import numpy as np
import pandas as pd

In [124]:
test = pd.read_csv("test.csv", )
submit9 = pd.read_csv("gender_submission.csv")
train = pd.read_csv("train.csv")
train_result = train['Survived']
print(train.columns)
train['score'] = 1.0

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [100]:
# if test['Cabin'] != NaN:
#     print()

In [113]:
# print(test)
print(submit)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

타이타닉을 분석하기에 앞서 약간의 도메인지식이 분석에 도움을 준다. 도메인지식은 아주 간단하게 다음고 같다. 타이타닉이 침몰한 날은 1912년이다. 
당시에는 “Lady First”라는 개념이 사람들에게 전체적으로 있었으며, 
그런이유인지 가라앉은 당시에 승무원들은 어린아이와 여자부터 우선적으로 구조를 했다고 한다. 
타이타닉호에는 부자, 일반인, 가난한 이민자 등 여러부류의 사람이 있었으며 객실은 1등급, 2등급, 3등급이 있었다고 한다. 
가난한 이민자는 주로 3등급 객실에서 머물렀다고 한다.

우선 이해를 돕기위해 컬럼이 의미하는 바를 간단하게 알아볼 필요가 있다. 컬럼의 의미들은 다음과 같다.

PassengerId : 탑승객의 ID(인덱스와 같은 개념)

Survived : 생존유무(0은 사망 1은 생존)

Pclass : 객실의 등급

Name : 이름

Sex : 성별

SibSp : 동승한 형제 혹은 배우자의 수

Parch : 동승한 자녀 혹은 부모의 수

Ticket : 티켓번호

Fare : 요금

Cabin : 선실

Embarked : 탑승지 (C = Cherbourg, Q = Queenstown, S = Southampton)

In [105]:
train1 = train[['Survived', 'Pclass','Sex', 'Age', 'SibSp','Fare','score']]

# train2 = train['Fare']
# print(train2.describe(include = 'all'))
# train1['score'] == 0


# score가 높으면 생존확률이 높은것.
# score가 낮으면, 생존확률이 낮은것.

#Pclass
train1.loc[train1['Pclass'] == 1, 'score'] *= 0.4 
train1.loc[train1['Pclass'] == 2, 'score'] *= 0.35 
train1.loc[train1['Pclass'] == 3, 'score'] *= 0.25


#Sex
train1.loc[train1['Sex'] == 'male', 'score'] *= 0.4
train1.loc[train1['Sex'] == 'female', 'score'] *= 0.6


# Age
train1.loc[train1['Age'] <= 10, 'score'] *= 0.3
train1.loc[(train1['Age'] >= 11) & (train1['Age'] <= 20), 'score'] *= 0.2
train1.loc[(train1['Age'] >= 21) & (train1['Age'] <= 40), 'score'] *= 0.1
train1.loc[(train1['Age'] >= 41) & (train1['Age'] <= 50), 'score'] *= 0.2
train1.loc[train1['Age'] >= 50, 'score'] *= 0.2

train1.loc[train1['Fare'] <= 32, 'score'] *= 0.4
train1.loc[train1['Fare'] >= 32, 'score'] *= 0.6

# print(train1['score'])
train1['score'] = train1['score'] * 100
train1['result'] = train1['score'].apply(lambda x: 0 if x < 1 else 1)

0      0
1      1
2      0
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: result, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

/var/folders/hj/0ywfbvg15dxdpth_dmkhhklm0000gn/T/ipykernel_42632/3045249300.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train1['score'] = train1['score'] * 100
/var/folders/hj/0ywfbvg15dxdpth_dmkhhklm0000gn/T/ipykernel_42632/3045249300.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train1['result'] = train1['score'].apply(lambda x: 0 if x < 1 else 1)

In [107]:
train_real = pd.concat([train1['result'],train['Survived']],axis = 1)
print(train_real)

     result  Survived
0         0         0
1         1         1
2         0         1
3         1         1
4         0         0
..      ...       ...
886       0         0
887       1         1
888       1         0
889       0         1
890       0         0

[891 rows x 2 columns]

In [118]:
test['score'] = 1.0
train1 = test[['Pclass','Sex', 'Age', 'SibSp','Fare','score']]

train1.loc[train1['Pclass'] == 1, 'score'] *= 0.4 
train1.loc[train1['Pclass'] == 2, 'score'] *= 0.35 
train1.loc[train1['Pclass'] == 3, 'score'] *= 0.25


#Sex
train1.loc[train1['Sex'] == 'male', 'score'] *= 0.4
train1.loc[train1['Sex'] == 'female', 'score'] *= 0.6


# Age
train1.loc[train1['Age'] <= 10, 'score'] *= 0.3
train1.loc[(train1['Age'] >= 11) & (train1['Age'] <= 20), 'score'] *= 0.2
train1.loc[(train1['Age'] >= 21) & (train1['Age'] <= 40), 'score'] *= 0.1
train1.loc[(train1['Age'] >= 41) & (train1['Age'] <= 50), 'score'] *= 0.2
train1.loc[train1['Age'] >= 50, 'score'] *= 0.2

train1.loc[train1['Fare'] <= 32, 'score'] *= 0.4
train1.loc[train1['Fare'] >= 32, 'score'] *= 0.6

# print(train1['score'])
train1['score'] = train1['score'] * 100
train1['result'] = train1['score'].apply(lambda x: 0 if x < 1 else 1)

/var/folders/hj/0ywfbvg15dxdpth_dmkhhklm0000gn/T/ipykernel_42632/3349948732.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train1['score'] = train1['score'] * 100
/var/folders/hj/0ywfbvg15dxdpth_dmkhhklm0000gn/T/ipykernel_42632/3349948732.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train1['result'] = train1['score'].apply(lambda x: 0 if x < 1 else 1)

In [125]:
submit9['Survived'] = train1['result']

print(submit9)

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         0
..           ...       ...
413         1305         1
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [127]:
submit9.to_csv('result1.csv',index = False)

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         0
..           ...       ...
413         1305         1
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]